* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(234, 229, 229);
}

h1 {
  margin-bottom: 30px;
  font-size: 80px;
  text-align: center;
}

.calculator {
  background-color: white;
  padding: 20px;
  width: 500px;
  box-shadow: 0 10px 10px 10px rgb(112, 111, 111);
  border-radius: 8px;
}

.calculator-screen {
  background-color: rgb(29, 28, 28);
  border-radius: 8px;
  margin-bottom: 20px;
}

.calculator-display {
  color: white;
  width: 100%;
  background-color: transparent;
  font-size: 50px;
  text-align: right;
  padding: 20px;
  border: none;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 25px;
}

button {
  font-size: 50px;
  border: none;
  height: 80px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

button:hover {
  filter: brightness(0.95);
}

button.operator {
  background-color: rgb(248, 205, 15);
}

button.operator:hover {
  background-color: rgb(220, 180, 10);
}

.all-clear {
  background-color: red;
  color: white;
}

.all-clear:hover {
  background-color: rgb(200, 0, 0);
}

.zero {
  grid-column: span 2;
}

.equal-sign {
  background-color: rgb(9, 99, 244);
  color: white;
  grid-row: span 2;
  height: 83%;
}

.equal-sign:hover {
  background-color: rgb(7, 80, 220);
}
