body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 185, 153);
}

#accordion {
  margin: 40px 0 0 40px;
  width: 50%;
}

.header-accordion {
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.header-accordion:hover {
  background-color: rgb(155, 158, 160);
}

.sub-header-accordion {
  font-size: 17px;
  border-radius: 8px;
  background-color: white;
  text-align: justify;
  max-height: 10;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.content-accordion {
  padding: 15px 0;
  color: #2c3e50;
  margin: 0 8px;
}

.accordion-header.active + .accordion-content {
  display: block;
  max-height: 150px;
  padding: 15px;
}
