body {
  margin: 0;
  padding: 0;
  /* border-style: groove; */
  border: solid red;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

.game-container {
  background-color: white;
  padding: 50px;
  text-align: center;
  box-shadow: grey 0 2px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

#guessInput {
  width: 80%;
  height: 40px;
  border: 2px solid rgb(3, 116, 255);
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#guessButton {
  display: flex;
  margin: 20px;
  font-size: 1em;
  padding: 15px;
  align-items: center;
  justify-self: center;
  background-color: rgb(21, 0, 255);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#guessButton:hover {
  background-color: rgb(15, 1, 163);
}

#message {
  font-size: 17px;
  margin-top: 30px;
}

#restartButton {
  background-color: #28a745;
  color: white;
  padding: 8px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #218838;
}
